trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
  - task: UseDotNet@2
    displayName: 'Use .NET SDK 10.x'
    inputs:
      packageType: 'sdk'
      version: '10.0.x'

  - script: dotnet tool restore
    displayName: 'Restore dotnet tools'

  - script: dotnet csharpier check .
    displayName: 'CSharpier check'

  - script: dotnet build FormValidationTest.sln -c $(buildConfiguration)
    displayName: 'Build'

  - script: dotnet test FormValidationTest.sln -c $(buildConfiguration) --no-build
    displayName: 'Test'
