html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.validation-message {
    color: #e11d48;
    font-size: 0.875rem;
}

.valid.modified:not([type=checkbox]) {
    border-color: #10b981;
    box-shadow: 0 0 0 1px #10b981;
}

.invalid {
    border-color: #f43f5e;
    box-shadow: 0 0 0 1px #f43f5e;
}

input.invalid:focus,
textarea.invalid:focus,
select.invalid:focus {
    box-shadow: 0 0 0 3px rgba(244, 63, 94, 0.2);
}
