@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-50 text-slate-900 antialiased;
    }

    h1 {
        @apply text-3xl font-semibold tracking-tight;
    }

    h2 {
        @apply text-2xl font-semibold tracking-tight;
    }

    h3 {
        @apply text-xl font-semibold;
    }

    a {
        @apply text-sky-600 hover:text-sky-700;
    }
}
